@font-face {
  font-family: 'inter-bold';
  src: url('../assets/fonts/inter-bold.eot');
  src: url('../assets/fonts/inter-bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/inter-bold.woff2') format('woff2'), url('../assets/fonts/inter-bold.woff') format('woff'),
    url('../assets/fonts/inter-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter-medium';
  src: url('../assets/fonts/inter-medium.eot');
  src: url('../assets/fonts/inter-medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/inter-medium.woff2') format('woff2'), url('../assets/fonts/inter-medium.woff') format('woff'),
    url('../assets/fonts/inter-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lexend-deca';
  src: url('../assets/fonts/lexenddeca-medium.eot');
  src: url('../assets/fonts/lexenddeca-medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/lexenddeca-medium.woff2') format('woff2'),
    url('../assets/fonts/lexenddeca-medium.woff') format('woff'),
    url('../assets/fonts/lexenddeca-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
