@import './colors.scss';
@import './fonts.scss';
@import './reset.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'inter-medium', sans-serif;
  font-size: 15px;
  color: $slightly-transparent-white;
  background-color: $very-dark-blue;
}
