@import '../../styles/colors.scss';

.card {
  width: 1110px;
  height: 446px;
  display: flex;
  background-color: $dark-desaturated-blue;
  border-radius: 8px;
  margin-top: 177px;

  @media (max-width: 1140px) {
    width: 654px;
    height: auto;
    flex-direction: column;
    margin-top: 124px;
  }

  @media (max-width: 767px) {
    width: 327px;
  }
}

.header {
  width: 540px;
  height: 446px;
  position: relative;
  flex: 1 0 auto;
  order: 1;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;

  @media (max-width: 1140px) {
    width: 654px;
    order: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (max-width: 767px) {
    width: 327px;
    height: 240px;
  }
}

.img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url(../../assets/images/image-header-desktop.jpg);

  @media (max-width: 1140px) {
    background-image: url(../../assets/images/image-header-mobile.jpg);
  }
}

.color {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $soft-violet;
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 74px;
  padding-right: 115px;
  padding-left: 72px;

  @media (max-width: 1140px) {
    align-items: center;
  }

  @media (max-width: 767px) {
    padding: 42px 20px 38px;
  }
}

.title {
  font-family: 'inter-bold', sans-serif;
  font-size: 35px;
  letter-spacing: 0.5px;
  line-height: 43px;
  color: $white;
  margin-bottom: 24px;

  @media (max-width: 1140px) {
    text-align: center;
  }

  @media (max-width: 767px) {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 33px;
    margin-bottom: 12px;
  }

  & span {
    color: $soft-violet;
  }
}

.subtitle {
  line-height: 25px;
  margin-bottom: 75px;

  @media (max-width: 1140px) {
    text-align: center;
  }

  @media (max-width: 767px) {
    padding: 0 10px;
    margin-bottom: 44px;
  }
}

.stats {
  width: 352px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 32px;
  }
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;

  @media (max-width: 1140px) {
    padding-bottom: 60px;
  }

  @media (max-width: 767px) {
    align-items: center;
    padding-bottom: 0;
  }
}

.value {
  font-size: 24px;
  letter-spacing: 0.3px;
  color: $white;
}

.name {
  font-family: 'lexend-deca', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: $slightly-transparent-white;
}
